<md-card>
    <md-toolbar layout="row" class="md-hue-2">
        <div class="md-toolbar-tools">
            <md-button ui-sref="meetingList">
                <md-icon>arrow_back</md-icon> Back
            </md-button>
            <h2 class="capitalize">{{$ctrl.group.name | capitalize}}
                <md-icon ng-if="$ctrl.group.isWheelchairAccessible">accessible_forward</md-icon>
            </h2>
        </div>
    </md-toolbar>
    <!-- <div id="map"></div> -->
    <md-card-content layout="row">
        <div flex="80" flex-xs="100">
            <p class="address">
                <strong ng-if="$ctrl.group.location">{{$ctrl.group.location}}</strong>
                <br ng-if="$ctrl.group.location">
                {{$ctrl.group.street_number}} {{$ctrl.group.route}},
                <br>
                {{$ctrl.group.locality}}, {{$ctrl.group.administrative_area_level_1}}
                <br>
                {{$ctrl.group.postal_code}}
            </p>
        </div>
        <div flex="20" flex-xs="100">
            <md-button ng-href="{{$ctrl.directionsUrl}}" target="_blank" title="Get directions to this meeting">
                <md-icon>map</md-icon> Directions
            </md-button>
        </div>
    </md-card-content>
</md-card>

<md-card>
    <md-toolbar layout="row" class="md-hue-3">
        <div class="md-toolbar-tools">
            <span>Meetings</span>
        </div>
    </md-toolbar>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="meeting in $ctrl.group.Meetings track by $index">
            <div class="md-list-item-text" layout="row" layout-align="space-between">
                <div flex="50" flex-xs="100" layout="column">
                    <p class="capitalize">
                        <md-icon>access_time</md-icon> {{$ctrl.findDayDisplay(meeting.day)}} @
                        {{meeting.time}}
                    </p>
                </div>
                <div flex="50" flex-xs="100" layout="column">
                    <div class="formatgrid" ng-repeat="format in $ctrl.formatFormats(meeting.format)">
                        <md-icon>meeting_room</md-icon>
                        <p>
                            {{format}}
                        </p>
                    </div>
                    <br ng-if="meeting.notes">
                    <div class="formatgrid" ng-if="meeting.notes">
                        <md-icon>notes</md-icon>
                        <p>
                            {{meeting.notes}}
                        </p>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </md-list-item>

    </md-list>
</md-card>