<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools" role="banner">
        All Orange County Meetings
    </div>
</md-toolbar>

<md-table-container>
    <table md-table>
        <thead md-head md-order="$ctrl.query.order">
            <tr md-row>
                <th md-column md-order-by="name">Name</th>
                <th md-column md-order-by="day">Day</th>
                <th md-column md-order-by="time">Time</th>
                <th md-column md-order-by="town">Location</th>
                <th md-column md-order-by="format">Format</th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row ng-repeat="meeting in $ctrl.sortedFilteredMeetings() | limitTo: $ctrl.myLimit: ($ctrl.myPage - 1) * $ctrl.myLimit">
                <td md-cell>{{meeting.name}}</td>
                <td md-cell>{{meeting.day}}</td>
                <td md-cell>{{meeting.time}}</td>
                <td md-cell>{{meeting.location}}</td>
                <td md-cell>{{meeting.format}}</td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<md-table-pagination md-limit="$ctrl.myLimit" md-limit-options="$ctrl.limitOptions" md-page="$ctrl.myPage" md-total="{{$ctrl.sortedFilteredMeetings().length}}"
    md-on-paginate="$ctrl.getMeetings()" md-page-select></md-table-pagination>