<md-card>
    <md-card-content layout-xs="column" layout="row" layout-align="space-between">
        <div flex-xs="100" flex="35" role="presentation">
            <md-input-container flex="100" style="width: 100%; margin-bottom: 0">
                <label for="searchText">Search</label>
                <input name="searchText" placeholder="Town, Group Name" type="search"
                    ng-model="$ctrl.filterBy.searchText" aria-label="search">
            </md-input-container>
        </div>
        <div flex-xs="100" flex="65" role="presentation">
            <div>
                <div layout="row" role="presentation">
                    <md-input-container flex="50">
                        <label for="">Day</label>
                        <md-select ng-model="$ctrl.filterBy.day" placeholder="All Days">
                            <md-option value="">Any Day</md-option>
                            <md-option ng-repeat="day in $ctrl.days" ng-value="day.code">{{day.display}}</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label for="">Time</label>
                        <md-select ng-model="$ctrl.filterBy.timeRange" placeholder="Any Time">
                            <md-option value="any">Any Time</md-option>
                            <md-option value="morning">Morning (5 AM - 11:30 AM)</md-option>
                            <md-option value="afternoon">Afternoon (Noon - 4:30 PM)</md-option>
                            <md-option value="evening">Evening (5 PM - Midnight)</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="row" role="presentation">
                    <md-input-container flex="50">
                        <label for="">Open/Closed</label>
                        <md-select ng-model="$ctrl.filterBy.openClosed" placeholder="Open or Closed">
                            <md-option value="openClosed">Open/Closed</md-option>
                            <md-option value="open">Open</md-option>
                            <md-option value="closed">Closed</md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container flex="50">
                        <label for="">Type</label>
                        <md-select multiple ng-model="$ctrl.filterBy.formats" placeholder="Meeting Type">
                            <md-option ng-repeat="format in $ctrl.formats" ng-value="format.code">{{format.display}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
            </div>

            <md-button class="md-raised md-primary" aria-label="Apply filters"
                ng-click="$ctrl.filterResults($ctrl.filterBy)">Apply Filters</md-button>
            <md-button class="md-secondary" aria-label="Clear filters" ng-click="$ctrl.resetResults()">Clear Filters
            </md-button>
        </div>
    </md-card-content>
</md-card>

<md-card role="status" ng-if="$ctrl.isLoading" class="text-center">
    <md-content>
        <p>
            <small>Loading...</small>
        </p>
        <md-progress-linear class="md-warn" md-mode="buffer" value="{{$ctrl.determinateValue}}"
            md-buffer-value="{{$ctrl.determinateValue2}}" ng-disabled="!$ctrl.showList[0]"></md-progress-linear>
    </md-content>
</md-card>

<md-card ng-if="!$ctrl.isLoading && !$ctrl.isMobile">
    <md-card-content>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="$ctrl.query.order">
                    <tr md-row>
                        <th md-column md-order-by="name">Name</th>
                        <th md-column md-order-by="day">Day</th>
                        <th md-column md-order-by="start">Time</th>
                        <th md-column md-order-by="town">Location</th>
                        <th md-column md-order-by="distance" ng-if="$ctrl.isDistanceActive">Distance</th>
                        <th md-column md-order-by="formatDisplay">Format</th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row
                        ng-repeat="meeting in $ctrl.sortedFilteredMeetings() | limitTo: $ctrl.myLimit: ($ctrl.myPage - 1) * $ctrl.myLimit">
                        <td md-cell>
                            <a class="capitalize" title="View group details"
                                ui-sref="groupDetails({id: meeting.Group.id})">{{meeting.name | capitalize}}</a>
                        </td>
                        <td md-cell>{{$ctrl.findDayDisplay(meeting.day)}}</td>
                        <td md-cell width="80">{{meeting.fullTime}}</td>
                        <td md-cell>
                            <a ng-href="{{meeting.directionsUrl}}" title="Directions to {{meeting.name}}"
                                target="_blank">
                                <strong>{{meeting.Group.location}}</strong>
                                <br ng-if="meeting.Group.location">{{meeting.location}}</a>
                        </td>
                        <td md-cell ng-if="$ctrl.isDistanceActive">
                            {{meeting.distance}} Mi
                        </td>
                        <td md-cell>{{meeting.formatDisplay}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="$ctrl.myLimit" md-limit-options="$ctrl.limitOptions" md-page="$ctrl.myPage"
            md-total="{{$ctrl.sortedFilteredMeetings().length}}" md-on-paginate="$ctrl.getMeetings()" md-page-select>
        </md-table-pagination>
    </md-card-content>
</md-card>

<md-card ng-if="!$ctrl.isLoading && $ctrl.isMobile" ng-repeat="meeting in $ctrl.sortedFilteredMeetings()">
    <md-card-content>
        <h2><a class="meeting-title-link capitalize"
                title="Group details"
                ui-sref="groupDetails({id: meeting.Group.id})"><strong>{{meeting.name | capitalize}}</strong></a></h2>
        <md-divider></md-divider>
        <div layout="row" layout-align="space-between">
            <div flex="70">
                <p>
                    <strong>{{meeting.Group.location}}</strong> <br ng-if="meeting.Group.location">{{meeting.location}}
                </p>
            </div>
            <div flex="30">
                <div class="distance-marker" ng-if="$ctrl.isDistanceActive">
                    <strong>{{meeting.distance}}</strong>
                    <br>
                    Miles
                </div>
            </div>
        </div>
        <div layout="row" layout-align="space-between">
            <p flex="100" class="capitalize">
                <md-icon>access_time</md-icon> {{$ctrl.findDayDisplay(meeting.day)}} @ {{meeting.fullTime}}
            </p>
        </div>
        <div layout="column" layout-align="space-between">
            <p flex="50" ng-repeat="format in $ctrl.formatFormats(meeting.format)">
                <md-icon>meeting_room</md-icon> {{format}}
            </p>
            <p flex="50" ng-if="meeting.notes">
                <md-icon>notes</md-icon> {{meeting.notes}}
            </p>
        </div>
        <div flex="100">
            <md-button style="width: 100%" class="md-primary md-raised" ng-href="{{meeting.directionsUrl}}"
                target="_blank" title="Directions">Directions</md-button>
        </div>
    </md-card-content>
</md-card>