<md-content class="md-padding">
    <md-card ng-if="$ctrl.user.id">
        <md-card-content>
            Logged in as {{$ctrl.user.email}}
            <md-button ng-click="$ctrl.logOut()">Log Out</md-button>
        </md-card-content>
    </md-card>
    <form ng-if="!$ctrl.user.id" novalidate ng-submit="$ctrl.logIn()">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Log In</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <div flex layout="column">
                    <md-input-container>
                        <label for="email">Email</label>
                        <input ng-model="$ctrl.user.email" name="email" type="email" required="true">
                    </md-input-container>
                    <md-input-container>
                        <label for="password">Password</label>
                        <input ng-model="$ctrl.user.password" name="password" type="password" required="true">
                    </md-input-container>
                </div>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <md-button class="md-raised md-primary" style="margin-right:20px;" type="submit"
                    ng-disabled="$ctrl.isSubmitting">Log In</md-button>
                <md-button class="md-raised md-secondary" ui-sref="meetingList">Cancel</md-button>
            </md-card-actions>
        </md-card>
    </form>
</md-content>